@model Okul.Models.Ogrenci

@{
    ViewData["Title"] = "Edit";
}

<h4>Öğrenci Düzenle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OgrenciID" />
            <div class="form-group">
                <label asp-for="OgrenciName" class="control-label"></label>
                <input asp-for="OgrenciName" class="form-control" />
                <span asp-validation-for="OgrenciName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OgrenciTcNo" class="control-label"></label>
                <input asp-for="OgrenciTcNo" class="form-control" />
                <span asp-validation-for="OgrenciTcNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OgrenciDogumTarih" class="control-label"></label>
                <input asp-for="OgrenciDogumTarih" type="date" class="form-control" />
                <span asp-validation-for="OgrenciDogumTarih" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OgrenciSinif" class="control-label"></label>
                <input asp-for="OgrenciSinif" class="form-control" />
                <span asp-validation-for="OgrenciSinif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
